<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>

<form action="/bitcoins">
  <label for="">Amount</label>
  <input type="text" name="amount" value=<%= params["amount"] %>>
  <button>Submit</button>
<p>Your Bitcoin is worth $<%= @usd_value %></p>
